
# Archivos generados por LaTeX
*.aux
*.lof
*.cut
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.synctex.gz
*.synctex(busy)
*.pdfsync
*.alg
*.acr
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.idx
*.ilg
*.ind
*.loa
*.loe
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.toc
*.vrb
*.xdy
*.tdo
*.thm
*.pre
*.fls
*.fdb_latexmk
*.xdv

# Archivos auxiliares de editor
*~
.*.swp
*.bak
*.tmp
*.sav

# Carpetas que pueden contener compilados o archivos temporales
*/_minted*
